#color-container .tooltiptext{
  visibility: hidden;
  width: 115px;
  background-color: black;
  color: white;
  border-radius: 6px;
  text-align: center;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 102%;
  left: -20px;
  opacity: 0;
  transition: opacity 0.3s;
}
#color-container:hover .tooltiptext{
  visibility: visible;
  opacity: 1;
}


#range-container .tooltiptext{
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: white;
  border-radius: 6px;
  text-align: center;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 102%;
  font-size: 16px;
  left: 35px;
  opacity: 0;
  transition: opacity 0.3s;
}
#range-container:hover .tooltiptext{
  visibility: visible;
  opacity: 1;
}

#undo-button .tooltiptext{
  visibility: hidden;
  width: 125px;
  background-color: black;
  color: white;
  border-radius: 6px;
  text-align: center;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 102%;
  font-size: 16px;
  left: -25px;
  opacity: 0;
  transition: opacity 0.3s;
}
#undo-button:hover .tooltiptext{
  visibility: visible;
  opacity: 1;
}

#save-button .tooltiptext{
  visibility: hidden;
  width: 95px;
  background-color: black;
  color: white;
  border-radius: 6px;
  text-align: center;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 102%;
  font-size: 16px;
  left: -20px;
  opacity: 0;
  transition: opacity 0.3s;
}
#save-button:hover .tooltiptext{
  visibility: visible;
  opacity: 1;
}